{% extends 'base.html' %}

{%block title%}Beit Haam | Toppings{%endblock%}

{%block content%}

    {% for top in tops %}
        <h5>{{top.name}}</h5>
        <p>price: {{top.price}}</p>
        <img src="{{top.image}}" style="height: 320px;">
        <a href="{% url 'edit_topping' id=top.id %}" class="btn btn-outline-secondary btn-sm">Edit</a>
        <a href="{% url 'delete_topping' id=top.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
    {% endfor %}
    <div class="">
        <a href="{% url 'add_topping' %}" class="btn btn-outline-primary btn-sm">Add</a>
    </div>
    
{%endblock%}